@font-face {
  font-family: "icons";
  src: url("../icons/icons.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-calendar:before,
.icon-calendar-date:before,
.icon-globe:before,
.icon-globe-black:before,
.icon-location:before,
.icon-location-big-black:before,
.icon-location-black:before,
.icon-note:before,
.icon-note-bar:before,
.icon-note-bar-black:before,
.icon-note-black:before,
.icon-note-punch:before,
.icon-note-punch-empty:before,
.icon-paper-plane:before,
.icon-paper-plane-black:before {
  display: inline-block;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-calendar:before { content: "\f100"; }
.icon-calendar-date:before { content: "\f101"; }
.icon-globe:before { content: "\f102"; }
.icon-globe-black:before { content: "\f103"; }
.icon-location:before { content: "\f104"; }
.icon-location-big-black:before { content: "\f105"; }
.icon-location-black:before { content: "\f106"; }
.icon-note:before { content: "\f107"; }
.icon-note-bar:before { content: "\f108"; }
.icon-note-bar-black:before { content: "\f109"; }
.icon-note-black:before { content: "\f10a"; }
.icon-note-punch:before { content: "\f10b"; }
.icon-note-punch-empty:before { content: "\f10c"; }
.icon-paper-plane:before { content: "\f10d"; }
.icon-paper-plane-black:before { content: "\f10e"; }