html
  height 100%

body
  height 100%

#mainContainer
  height 100%
  overflow-y auto

.photoContainer
  display inline-block
  font-family 'Raleway', sans-serif

.photo
  background-color $black30
  text-align left

.photo > img
  box-shadow 0 0 10px 0 $black
  cursor pointer

.photoFooter
  padding 20px
  > div
    display table
    > div
      &:first-child
        display table-cell
        min-width 16px
      &:nth-child(2)
        display table-cell
        padding-left 1em
        vertical-align top

.photoColumn
  display inline-block
  vertical-align top
  text-align right

.name
  margin-bottom 10px
  > div
    &:first-child
      color $faintRed

.description
  color $gray
  font-size 14px

.place
  color $gray
  display inline-block
  margin-right 20px
  margin-top 20px

.country
  color $gray1
  display inline-block

.date
  color $gray
  display inline-block
  margin-top 5px


.photoModal
  background-color $black80
  display table
  height 100%
  left 0
  position absolute
  top 0
  text-align center
  width 100%

.photoModalContainer
  display table-cell
  cursor pointer
  height 100%
  vertical-align middle
  width 100%

.photoModalContainer > img
  box-shadow 0 0 10px 0 $black
  max-height 90%
  max-width 90%
  margin-left auto
  margin-right auto
