doctype html
html(lang='en')
    head
        title Tomasz Rogucki
        meta(name='description', content='This website is a Photo Diary of my RTW trip. You will find here the best moments of this journey captured with a reflex camera Nikon D5000.')
        meta(name='keywords', content='Tomasz Rogucki, RTW, Round The World, trip, journey, photo, photography, photo diary, photo blog, backpacking')
    link(href='assets/css/style.css', rel='stylesheet', type='text/css')
    body
        #mainContainer
    script(type='text/javascript', src='assets/js/application.js')