doctype html
html(lang="en")
    head
        title Tomasz Rogucki
    script(type='text/javascript', src='assets/js/application.js')
    link(href='assets/css/style.css', rel='stylesheet', type='text/css')
    body
        #mainContainer